/* CSS trang chủ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: verdana, arial, helvetica;
    /* font-family: 'Open Sans', sans-serif; */
}

body {
    background-color: rgb(255, 255, 255);
    /* height: 6000px; */
}

:root {
    --color-1: rgb(255, 255, 255);
    --color-2: rgb(235, 235, 235);
    --color-3: rgb(51, 62, 72);
    --color-4: rgb(254, 215, 0);
    --color-5: rgb(19, 110, 194);
    --color-6: rgb(223, 55, 55);
}

/* header css */
header {
    width: 100%;
    position: relative;
}

/* .introduction css */
header .introduction {
    height: 38px;
    width: 100%;
    color: var(--color-3);
    font-size: 0.9rem;
    border-bottom: 2px solid var(--color-2);
}

header .introduction__master {
    height: 38px;
    width: 1430px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

header .introduction__master__actions {
    display: flex;
}

header .introduction__master__actions a {
    color: var(--color-3);
    text-decoration: none;
    padding: 0 20px;
    border-right: 2px solid var(--color-2);
}

header .introduction__master__actions a:last-child {
    padding: 0 0 0 20px;
    border-right: 2px solid rgba(0, 0, 0, 0);
}

header .introduction__master > p {
    cursor: pointer;
}

header .introduction__master__actions a:hover {
    cursor: pointer;
    opacity: 0.9;
}

header .introduction__master__actions .fas {
    font-size: 0.8rem;
    margin-right: 10px;
    color: rgba(51, 62, 72, 0.8);
}

/* .searchBlock css */
header .searchBlock {
    width: 1430px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .searchBlock .searchBlock__logo {
    width: 153px;
    height: 52px;
    background-image: url(../../assets/images/brandings/liberty_logo_457x172.png);
    background-size: cover;
}

header .searchBlock .searchBlock__logo:hover {
    cursor: pointer;
}

header .searchBlock .searchBlock__search {
    width: 56%;
    height: 45px;
    background-color: var(--color-4);
    padding: 3px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

header .searchBlock .searchBlock__search input {
    height: 39px;
    width: 66%;
    font-size: 1rem;
    padding-top: 3px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 1px solid var(--color-1);
    outline: none;
    padding-left: 30px;
}

header .searchBlock .searchBlock__search select {
    height: 39px;
    width: 26%;
    font-size: 1rem;
    font-family: verdana, arial, helvetica;
    line-height: 20px;
    border: 1px solid var(--color-1);
    outline: none;
    padding-left: 15px;
}

header .searchBlock .searchBlock__search select:hover {
    cursor: pointer;
}

header .searchBlock .searchBlock__search .searchIcon {
    width: 8%;
    color: var(--color-3);
    text-align: center;
    font-size: 1.2rem;
}

header .searchBlock .searchBlock__search .searchIcon:hover {
    cursor: pointer;
}

header .searchBlock .searchBlock__icons {
    width: 15%;
    display: flex;
    position: relative;
}

/* header .searchBlock .searchBlock__icons:hover .fa-shopping-bag {
    color: var(--color-5);
} */

header .searchBlock .searchBlock__icons .fas {
    line-height: 40px;
    font-size: 1.3rem;
    margin-right: 30px;
}

header .searchBlock .searchBlock__icons p {
    line-height: 40px;
    font-size: 1.3rem;
}

header .searchBlock .searchBlock__icons .fa-shopping-bag {
    margin-right: 10px;
}

header .searchBlock .searchBlock__icons > div:hover .fa-shopping-bag {
    cursor: pointer;
    color: var(--color-5);
}

header .searchBlock .searchBlock__icons .searchBlock__icons__productCount:hover {
    cursor: pointer;
}

header .searchBlock .searchBlock__icons .totalPrice:hover {
    cursor: pointer;
}

header .searchBlock .searchBlock__icons a:hover {
    cursor: pointer;
}

header .searchBlock .searchBlock__icons .searchBlock__icons__productCount {
    width: 22px;
    height: 22px;
    background-color: var(--color-4);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    position: absolute;
    right: 88px;
    top: 25px;
}

.productShow {
    display: flex;
}

.productHide {
    display: none;
}

header .searchBlock .searchBlock__icons__productShow {
    width: 290px;
    border-radius: 15px;
    padding: 10px;
    opacity: 0.92;
    background-color: var(--color-2);
    position: absolute;
    top: 85px;
    right: -150px;
    z-index: 2;
    /* display: flex; */
    flex-direction: column;
    align-items: Center;
}

header .searchBlock .searchBlock__icons__productShow .product--list {
    width: 100%;
    padding: 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .searchBlock .searchBlock__icons__productShow .product--list > div {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-3);
    border-radius: 10px;
    margin-bottom: 10px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .searchBlock .searchBlock__icons__productShow .product--list .name {
    display: inline-block;
    width: 60%;
}

header .searchBlock .searchBlock__icons__productShow .product--list img {
    width: 50px;
    height: 50px;
    /* margin-right: 5px; */
}

header .searchBlock .searchBlock__icons__productShow .product--list .number {
    margin-right: 15px;
}

header .searchBlock .searchBlock__icons__productShow .product--list .delete {
    height: 20px;
    width: 20px;
    color: var(--color-3);
    font-size: 1.2rem;
}

header .searchBlock .searchBlock__icons__productShow .product--list .delete:hover {
    cursor: pointer;
    color: var(--color-5);
}

header .searchBlock .searchBlock__icons__productShow .product--list .delete:active {
    cursor: pointer;
    color: var(--color-6);
}

header .searchBlock .searchBlock__icons__productShow a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--color-1);
    background-color: var(--color-3);
    border-radius: 10px;
}

header .searchBlock .searchBlock__icons__productShow a:hover {
    background-color: var(--color-5);
}

header .searchBlock .searchBlock__icons__productShow a:active {
    background-color: var(--color-6);
}

/* navigator desktop */
header .nav__desktop {
    width: 1430px;
    height: 46px;
    font-size: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

header .nav__desktop ul {
    display: flex;
    position: relative;
}

header .nav__desktop ul li {
    list-style-type: none;
    padding: 0 15px;
}

header .nav__desktop ul li:hover {
    cursor: pointer;
}

header .nav__desktop > ul > li:first-child {
    width: 282px;
    padding: 0 110px 0 20px;
    margin-right: 15px;
    background-color: var(--color-4);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header .nav__desktop > ul .fa-list-ul {
    margin-right: 10px;
}

header .nav__desktop > ul a,
header .nav__desktop > a {
    color: var(--color-3);
    text-decoration: none;
    font-weight: bold;
    line-height: 46px;
}

header .nav__desktop > ul > li:last-child a {
    color: var(--color-6);
}

header .nav__desktop ul .nav__subnav {
    position: absolute;
    left: 0;
    display: none;
    flex-flow: column wrap;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--color-1);
    box-shadow: 0px 0px 3px rgba(51, 62, 72, 0.3);
    padding: 10px 0;
    box-sizing: border-box;
}

header .nav__desktop > ul > li:first-child:hover .nav__subnav {
    display: flex;
}

header .nav__desktop ul .nav__subnav > li {
    width: 242px;
    border-bottom: 2px solid var(--color-2);
    padding: 0 10px;
    margin: 0 20px;
    /* position: relative; */
}

header .nav__desktop .nav__subnav > li > a {
    line-height: 40px;
    font-weight: normal;
}

header .nav__desktop .nav__subnav > li:nth-child(1) a,
header .nav__desktop .nav__subnav > li:nth-child(2) a {
    color: var(--color-5);
    font-weight: bold;
}

header .nav__desktop .nav__subnav .fa-chevron-right {
    line-height: 42px;
    position: absolute;
    right: 30px;
}

header .nav__desktop .nav__subnav > li:hover {
    cursor: pointer;
    background-color: var(--color-2);
}

header .nav__desktop .nav__subnav > li:hover > a {
    font-weight: bold;
}

/* subnav sub */
header .nav__desktop .nav__subnav > li > div {
    width: 580px;
    height: 358px;
    position: absolute;
    top: -2px;
    left: 262px;
    background-color: var(--color-1);
    border-top: 2px solid var(--color-4);
    flex-flow: row wrap;
    display: none;
}

header .nav__desktop .nav__subnav > li:hover > div {
    display: flex;
}

header .nav__desktop .nav__subnav > li ul {
    display: flex;
    flex-flow: column wrap;
    width: 300px;
    padding: 20px;
    color: var(--color-3);
    /* background-color: dodgerblue; */
}

header .nav__desktop .nav__subnav > li ul > li {
    line-height: 40px;
    width: 95%;
}

header .nav__desktop .nav__subnav > li ul > li > a {
    font-weight: normal;
    line-height: 50px;
}

header .nav__desktop .nav__subnav > li ul > li > a:hover {
    text-decoration: underline;
}

header .nav__desktop .nav__subnav > li ul >li:first-child {
    font-weight: bold;
}

header .nav__desktop .nav__subnav > li ul >li:last-child {
    border-top: 2px solid var(--color-4);
}

header .nav__desktop .nav__subnav > li .nav__subnav--logo {
    width: 70%;
    height: 40px;
    background-image: url(../../assets/images/brandings/liberty_store_logo_753x172.png);
    background-size: cover;
    margin: 20px auto;
}

header .nav__desktop .nav__subnav > li .banner {
    width: 280px;
    height: 99%;
    background-size: cover;
    background-position: center center;
    border: 5px solid var(--color-1);
    box-sizing: border-box;
}

header .nav__desktop .nav__subnav > li .laptoppc--banner {
    background-image: url(../../assets/images/products/banner/subnav-banner-laptoppc.jpg);
}

header .nav__desktop .nav__subnav > li .mobilestablets--banner {
    background-image: url(../../assets/images/products/banner/subnav-banner-mobilestablets.jpg);
}

header .nav__desktop .nav__subnav > li .displayaudio--banner {
    background-image: url(../../assets/images/products/banner/subnav-banner-displayaudio.jpg);
}

header .nav__desktop .nav__subnav > li .cameras--banner {
    background-image: url(../../assets/images/products/banner/subnav-banner-cameras.jpg);
}

header .nav__desktop .nav__subnav > li .accessories--banner {
    background-image: url(../../assets/images/products/banner/subnav-banner-accessories.jpg);
}

header .nav__desktop .nav__subnav > li .others--banner {
    background-image: url(../../assets/images/products/banner/subnav-banner-others.jpg);
}

/* nav mobile */
header .nav__mobile {
    display: none;
}

/* header promotion */
header .promotion {
    width: 100%;
    height: 410px;
    background-color: var(--color-4);
    padding: 20px 0;
    border-bottom: 1px solid rgba(51, 62, 72, 0.2);
}

header .promotion .promotion__master {
    width: 1430px;
    height: 370px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header .promotion .promotion__title {
    width: 31%;
    height: 330px;
    margin-top: 20px;
    margin-left: 50px;
    color: var(--color-3);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    position: relative;
}

header .promotion .promotion__title> p:first-child {
    font-size: 2.5rem;
}

header .promotion .promotion__title> p:nth-child(2) {
    font-size: 5rem;
    margin-top: -15px;
}

header .promotion .promotion__title> p:nth-child(3) {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
}

header .promotion .promotion__product--picture {
    width: 415px;
    height: 290px;
    margin: 50px 50px 0 40px;
    background-image: url(../../assets/images/products/banner/promotion-banner-airpods.png);
    background-size: cover;
}

header .promotion .promotion__product--description {
    width: 25%;
    height: 330px;
    margin-top: 20px;
    padding-left: 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

header .promotion .promotion__product--description p:nth-child(1) {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--color-5);
    margin-bottom: 35px;
}

header .promotion .promotion__product--description p:nth-child(2) {
    font-size: 1.4rem;
    color: var(--color-6);
    margin-bottom: 35px;
}

header .promotion .promotion__product--description a {
    display: inline-block;
    width: 170px;
    line-height: 25px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-3);
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid var(--color-3);
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

header .promotion .promotion__product--description a:hover {
    background-color: var(--color-3);
    color: var(--color-1);
}

/* header carousel */
header .header__carousel {
    width: 100%;
    height: 110px;
    background-color: var(--color-4);
}

header .header__carousel .owl-carousel {
    width: 1200px;
    height: 110px;
    margin: 0 auto;
    position: relative;
}

header .header__carousel .owl-dots {
    display: none;
}

header .header__carousel .owl-theme .owl-nav button {
    width: 25px;
    height: 50px;
    border-radius: 10px;
}

header .header__carousel .owl-theme .owl-nav button:hover {
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-3);
    opacity: 0.9;
}

header .header__carousel .owl-theme .owl-prev {
    position: absolute;
    top: 25px;
    left: -40px;
    padding-bottom: 10px;
}

header .header__carousel .owl-next {
    position: absolute;
    top: 25px;
    right: -40px;
    padding-bottom: 10px;
}

header .header__carousel .owl-theme .owl-nav button > span {
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-3);
}

header .header__carousel .owl-carousel .item {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

header .header__carousel .owl-carousel .item :hover {
    cursor: pointer;
    opacity: 0.9;
}

header .header__carousel .owl-carousel .item .item__pic {
    width: 100%;
    height: 80px;
    text-align: center;
    /* background-color: tomato; */
}

header .header__carousel .owl-carousel .item .fas {
    line-height: 80px;
    font-size: 2.5rem;
    color: var(--color-3);
}

/* section */
/* top banner */
section .section__topBanner {
    width: 1430px;
    height: 190px;
    padding: 20px 0;
    margin: 0 auto;
    color: var(--color-3);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* background-color: tomato; */
}

section .section__topBanner > div {
    border-radius: 10px;
    display: flex;
}

section .section__topBanner .topBanner--1 {
    width: 680px;
    height: 150px;
    position: relative;
    background-image: linear-gradient(-90deg, rgba(194, 194, 194, 0.2), rgba(136, 136, 136, 0.2));
}

section .section__topBanner .topBanner--1 .topBanner--1--image {
    width: 250px;
    height: 150px;
    background-image: url(../../assets/images/products/banner/section-banner-top-1.png);
    background-size: cover;
    position: absolute;
    left: 100px;
}

section .section__topBanner .topBanner--1 .topBanner--1--description {
    width: 240px;
    height: 150px;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section .section__topBanner .topBanner--1 .topBanner--1--description p:first-child {
    font-size: 1.3rem;
    line-height: 26px;
    margin-bottom: 15px;
}

section .section__topBanner .topBanner--2 {
    width: 345px;
    height: 150px;
    background-color: rgba(194, 194, 194, 0.2);
    position: relative;
}

section .section__topBanner .topBanner--2--image {
    width: 150px;
    height: 90px;
    background-image: url(../../assets/images/products/banner/section-banner-top-2.png);
    background-size: cover;
    margin-top: 30px;
    margin-left: 27px;
}

section .section__topBanner .topBanner--3 {
    width: 345px;
    height: 150px;
    background-image: linear-gradient(90deg, rgba(194, 194, 194, 0.2), rgba(136, 136, 136, 0.2));
    position: relative;
}

section .section__topBanner .topBanner--3--image {
    width: 143px;
    height: 90px;
    background-image: url(../../assets/images/products/banner/section-banner-top-3.png);
    background-size: cover;
    margin-top: 30px;
    margin-left: 17px;
}

section .section__topBanner .topBanner--description {
    width: 165px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0;
}

section .section__topBanner .topBanner--2 .topBanner--description {
    width: 140px;
}

section .section__topBanner .topBanner--description p:first-child {
    font-size: 1.3rem;
    line-height: 26px;
    margin-bottom: 15px;
}

section .section__topBanner a {
    text-decoration: none;
    color: var(--color-3);
    font-weight: bold;
}

section .section__topBanner .fas {
    width: 20px;
    height: 20px;
    background-color: var(--color-4);
    border-radius: 50%;
    padding-left: 4px;
    padding-top: 4px;
    margin-left: 10px;
}

section .section__topBanner a:hover {
    text-decoration: underline;
}

/* deals of the day - title */
section .section__dealOfTheDay {
    width: 1430px;
    margin: 20px auto;
    color: var(--color-3);
}

section .catch-block {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .catch-block .catch-spinner {
    font-size: 2rem;
    margin-bottom: 20px;
}

section .title {
    width: 100%;
    height: 60px;
    color: var(--color-3);
    border-bottom: 2px solid rgba(51, 62, 72, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

section .title .title-highlight {
    height: 3px;
    width: 200px;
    background-color: var(--color-4);
    position: absolute;
    top: 57px;
    left: 0;
}

section .title p {
    font-size: 1.5rem;
    font-weight: bold;
}

section .title a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-3);
}

section .title a:hover {
    text-decoration: underline;
}

section .title .fas {
    margin-left: 15px;
}

/* block deals of the day */
section .item {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

section .item .cat {
    font-size: 0.9rem;
    color: var(--color-3);
    margin-bottom: 5px;
}

section .item .name {
    text-decoration: none;
    color: var(--color-5);
    font-weight: bold;
}

section .item .name:hover {
    text-decoration: underline;
}

section .item > img {
    padding: 15px;
}

section .item .cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

section .item .cart > div .salePrice {
    font-size: 1.5rem;
    color: var(--color-6);
    margin-bottom: 5px;
}

section .item .cart > div .price {
    text-decoration: line-through;
}

section .item .cart .fa-cart-plus {
    font-size: 1.2rem;
    width: 40px;
    height: 40px;
    color: var(--color-1);
    background-color: var(--color-2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .item .cart .fa-cart-plus:hover {
    cursor: pointer;
    background-color: var(--color-4);
}

section .item .wishlist-compare {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 10px;
    border-top: 2px solid rgba(51, 62, 72, 0.1);
}

section .item .wishlist-compare p {
    font-size: 1rem;
    color: var(--color-3);
    line-height: 35px;
}

section .item .wishlist-compare a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-3);
    line-height: 35px;
}

section .item .wishlist-compare p:hover,
section .item .wishlist-compare a:hover {
    text-decoration: underline;
}

/* section popular search */
section .section__popularSearch {
    width: 1430px;
    margin: 40px auto 20px;
    display: flex;
    flex-direction: column;
}
section .section__popularSearch .section__popularSearch--block {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
}

section .section__popularSearch .section__popularSearch--block > a {
    opacity: 0.8;
    color: var(--color-3);
    font-weight: bold;
    text-decoration: none;
    background-color: var(--color-2);
    padding: 20px 40px;
    margin: 0 30px;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}

section .section__popularSearch .section__popularSearch--block > a:hover {
    color: var(--color-1);
    background-color: var(--color-3);
}

/* sectino laptop & pc */
section .section__laptoppc {
    width: 1430px;
    margin: 40px auto 0;
}

/* section mobiles & tablets */
section .section__mobilestablets {
    width: 1430px;
    margin: 40px auto 0;
}

/* section highlight promotion */
section .section__highlightPromotion {
    width: 100%;
    height: 55px;
    background-color: var(--color-5);
    margin: 40px auto 0;
}

section .section__highlightPromotion > div {
    width: 1430px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .section__highlightPromotion > div p {
    font-size: 1.2rem;
    color: var(--color-2);
    line-height: 55px;
    margin-right: 20px;
}

section .section__highlightPromotion > div .fa-hand-point-right {
    font-size: 1.3rem;
}

section .section__highlightPromotion > div .qrcode {
    width: 40px;
    height: 40px;
    background-image: url(../../assets/images/products/banner/qr-code.png);
    background-size: cover;
}

/* section display & audio */
section .section__displayaudio {
    width: 1430px;
    margin: 40px auto 0;
}

/* section accessories */
section .section__accessories {
    width: 1430px;
    margin: 40px auto 0;
}

/* second second banners */
section .section__secondBanner {
    width: 1430px;
    height: 150px;
    margin: 40px auto 0;
    color: var(--color-3);
    display: flex;
    justify-content: space-between;
}

section .img {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

section .img:hover {
    transform: scale(0.97, 0.97);
}

section .section__secondBanner .secondBanner {
    height: 150px;
    width: 49%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: var(--color-4); */
}

section .section__secondBanner .secondBanner:first-child {
    background-image: linear-gradient(90deg, rgba(254, 215, 0, 0.9), rgba(254, 215, 0, 0.7))
}

section .section__secondBanner .secondBanner:last-child {
    background-image: linear-gradient(-90deg, rgba(254, 215, 0, 0.9), rgba(254, 215, 0, 0.7))
}

section .section__secondBanner .secondBanner-1--title p:first-child {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 7px;
    color: var(--color-5);
}

section .section__secondBanner .secondBanner-1--title p:last-child {
    font-size: 1.2rem;
}

section .section__secondBanner .secondBanner-2--title {
    display: flex;
    align-items: center;
}

section .section__secondBanner .secondBanner-2--title p:first-child {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 7px;
    color: var(--color-5);
}

section .section__secondBanner .secondBanner-2--title p:last-child {
    font-size: 1.2rem;
}

section .section__secondBanner .secondBanner-2--title > div:first-child {
    padding: 15px 20px 15px 0;
    border-right: 2px solid rgba(51, 62, 72, 0.1);
}

section .section__secondBanner .secondBanner-2--title > div p:last-child {
    padding-left: 36px;
}

section .section__secondBanner .secondBanner-2--title > p {
    padding-left: 20px;
}

section .section__secondBanner .secondBanner-2--title span {
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--color-5);
}

section .section__secondBanner > div:first-child {
    background-image: linear-gradient(-90deg, rgba(194, 194, 194, 0.2), rgba(136, 136, 136, 0.2));
    border-radius: 10px;
}

section .section__secondBanner > div:last-child {
    background-image: linear-gradient(90deg, rgba(194, 194, 194, 0.2), rgba(136, 136, 136, 0.2));
    border-radius: 10px;
}

section .section__secondBanner .secondBanner-1--image {
    height: 150px;
    width: 43%;
    background-image: url(../../assets/images/products/banner/section-banner-second-1.png);
    background-size: cover;
}

section .section__secondBanner .secondBanner-2--image {
    height: 150px;
    width: 43%;
    background-image: url(../../assets/images/products/banner/section-banner-second-2.png);
    background-size: cover;
}

/* section others */
section .section__others {
    width: 1430px;
    margin: 40px auto 0;
}

/* section partners */
section .section__partners {
    width: 1430px;
    height: 90px;
    margin: 60px auto 0;
    padding: 0 40px;
    border-top: 2px solid rgba(51, 62, 72, 0.1);
    border-bottom: 2px solid rgba(51, 62, 72, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .section__partners .item {
    width: 167px;
    height: 50px;
    padding: 0;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.5;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

section .section__partners .item:hover {
    transform: scale(1.1, 1.1);
    opacity: 0.8;
}

section .section__partners .item-1 {
    background-image: url(../../assets/images/products/partners-logo/partner-1.png);
}

section .section__partners .item-2 {
    background-image: url(../../assets/images/products/partners-logo/partner-2.png);
}

section .section__partners .item-3 {
    background-image: url(../../assets/images/products/partners-logo/partner-3.png);
}

section .section__partners .item-4 {
    background-image: url(../../assets/images/products/partners-logo/partner-4.png);
}

section .section__partners .item-5 {
    background-image: url(../../assets/images/products/partners-logo/partner-5.png);
}

section .section__partners .item-6 {
    background-image: url(../../assets/images/products/partners-logo/partner-6.png);
}

/* section products summary */
section .section__summary {
    width: 1430px;
    height: 400px;
    margin: 80px auto 0;
    color: var(--color-3);
    display: flex;
    justify-content: space-between;
}

section .section__summary a {
    text-decoration: none;
}

section .section__summary > div {
    width: 23%;
    height: 100%;
    position: relative;
}

section .section__summary .summary-title p {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 50px;
    border-bottom: 1px solid rgba(51, 62, 72, 0.2);
}

section .section__summary .summary-title .highlight {
    height: 3px;
    width: 100px;
    background-color: var(--color-4);
    position: absolute;
    left: 0;
    top: 49px;
}

section .section__summary .products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .section__summary .products .product {
    height: 80px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

section .section__summary .products .description {
    width: 260px;
}

section .section__summary .products .description > p:first-child {
    font-size: 1rem;
    line-height: 20px;
    font-weight: bold;
    color: var(--color-5);
    margin-bottom: 5px;
}

section .section__summary .products .description > p:last-child {
    font-size: 1.2rem;
    color: var(--color-6);
}

section .section__summary .products .description span {
    font-size: 1rem;
    color: var(--color-3);
    text-decoration: line-through;
}

section .section__summary .img {
    height: 80px;
    width: 80px;
    margin-right: 20px;
    background-size: cover;
}

section .section__summary .section__summary--feature .img1 {
    background-image: url(../../assets/images/products/summary/macbookair13m1ram8rom256-1.png);
}

section .section__summary .section__summary--feature .img2 {
    background-image: url(../../assets/images/products/summary/iPhone13minirom128vna-1.png);
}

section .section__summary .section__summary--feature .img3 {
    background-image: url(../../assets/images/products/summary/iPadair2020rom256vna-1.png);
}

section .section__summary .section__summary--topselling .img1 {
    background-image: url(../../assets/images/products/summary/iPadprom12021rom256vna-1.png);
}

section .section__summary .section__summary--topselling .img2 {
    background-image: url(../../assets/images/products/summary/samsunggalaxys21plus5g-1.png);
}

section .section__summary .section__summary--topselling .img3 {
    background-image: url(../../assets/images/products/summary/samsunggalaxynote20ultra5g-1.png);
}

section .section__summary .section__summary--saleoff .img1 {
    background-image: url(../../assets/images/products/summary/samsungmonitor24ls24r350fhe-1.png);
}

section .section__summary .section__summary--saleoff .img2 {
    background-image: url(../../assets/images/products/summary/samsungsmarttv60crystaluhd-1.png);
}

section .section__summary .section__summary--saleoff .img3 {
    background-image: url(../../assets/images/products/summary/samsunggalaxybudspro-1.png);
}

section .section__summary .section__summary--banner {
    height: 90%;
    background-image: url(../../assets/images/products/banner/footer-widget-img-01.jpg);
}

/* section signup form */
section .section__signupForm {
    width: 100%;
    height: 65px;
    background-color: var(--color-4);
    margin-top: 40px;
}

section .section__signupForm .form {
    width: 1430px;
    height: 65px;
    margin: 0 auto;
    color: var(--color-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .section__signupForm .text {
    display: flex;
    align-items: center;
}

section .section__signupForm .text .fab {
    margin-right: 15px;
}

section .section__signupForm .text > p:first-child {
    font-size: 1.5rem;
    margin-right: 50px;
}

section .section__signupForm .text > p:last-child {
    margin-top: 8px;
}

section .section__signupForm .submit input {
    height: 40px; 
    width: 450px;
    padding-left: 30px;
    outline: none;
    border: 1px solid var(--color-1);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

section .section__signupForm .submit button {
    font-size: 1rem;
    width: 100px;
    height: 40px;
    background-color: var(--color-3);
    color: var(--color-1);
    border: 1px solid var(--color-3);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: -4px;
}

section .section__signupForm .submit button:hover {
    cursor: pointer;
    color: var(--color-4);
}

/* footer */
footer {
    width: 100%;
    height: 370px;
    color: var(--color-3);
}

footer .footer__desktop--1 {
    width: 1430px;
    height: 370px;
    margin: 0 auto;
    padding: 50px 0;
}

footer .footer__desktop--1 > div {
    width: 100%;
    height: 350px;
    display: flex;
}

footer .footer__desktop--1 > div > div {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

footer .footer__desktop--1 > div > div > p {
    font-weight: bold;
    color: var(--color-3);
    line-height: 55px;
}

footer .footer__desktop--1 > div > div > a {
    text-decoration: none;
    color: var(--color-3);
    line-height: 30px;
}

footer .footer__desktop--1 > div > div > a:hover {
    text-decoration: underline;
}

footer .footer__desktop--1 > div .footer-1 {
    width: 40%;
    height: 100%;
}

footer .footer__desktop--1 > div .footer-1 p {
    line-height: 25px;
}

footer .footer__desktop--1 > div .footer-1 .logo {
    width: 133px;
    height: 50px;
    background-image: url(../../assets/images/brandings/liberty_logo_457x172.png);
    background-size: cover;
    margin-bottom: 15px;
}

footer .footer__desktop--1 > div .footer-1 .service {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

footer .footer__desktop--1 > div .footer-1 .service .fas {
    font-size: 4rem;
    color: var(--color-4);
    margin-right: 25px;
}

footer .footer__desktop--1 > div .footer-1 .service span {
    font-size: 1.5rem;
}

footer .footer__desktop--1 > div .footer-1 .contact {
    font-weight: bold;
}

footer .footer__desktop--1 > div .footer-1 p:last-child {
    margin-top: 20px;
}

footer .footer__desktop--1 > div .footer-1 p:last-child .fab {
    font-size: 1.8rem;
    margin-right: 30px;
    color: var(--color-3);
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}

footer .footer__desktop--1 > div .footer-1 p:last-child .fab:hover {
    cursor: pointer;
    opacity: 1;
}

footer .footer__desktop--1 .footer-3 {
    padding-top: 50px;
}

/* footer desktop 2 */
footer .footer__desktop--2 {
    width: 100%;
    height: 50px;
    background-color: var(--color-2);
}

footer .footer__desktop--2 > div {
    width: 1430px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer__desktop--2 > div .payment {
    width: 300px;
    height: 32px;
    background-image: url(../../assets/images/products/banner/footer-payment.png);
    background-size: cover;
}

footer .footer__mobile--1,
footer .footer__mobile--2 {
    display: none;
}

/* mobile responsive */
@media all and (max-width: 739px) {
    html {
        font-size: 16px;
    }

    .block {
        display: block;
    }

    .flex {
        display: flex;
    }

    .hidden {
        display: none;
    }

    header .introduction {
        display: none;
    }

    header .searchBlock {
        display: none;
    }

    header .nav__desktop {
        display: none;
    }

    header .nav__mobile {
        width: 100%;
        height: 56px;
        padding: 3px 0;
        color: var(--color-3);
        background-color: var(--color-4);
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    header .nav__mobile .fas {
        font-size: 1.5rem;
        line-height: 56px;
    }

    header .nav__mobile .nav__mobile--1 {
        width: 60%;
        background-color: var(--color-4);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    header .nav__mobile .nav__mobile--1 .nav__mobile--logo {
        width: 96px;
        height: 36px;
        background-image: url(../../assets/images/brandings/liberty_logo_457x172.png);
        background-size: cover;
    }

    header .nav__mobile .nav__mobile--2 {
        width: 45%;
        background-color: var(--color-4);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    header .nav__mobile .searchBlock__icons__productCount {
        width: 20px;
        height: 20px;
        background-color: var(--color-1);
        border-radius: 50%;
        color: var(--color-3);
        padding-left: 5px;
        position: absolute;
        right: 18px;
        top: 32px;
    }

    .search-hidden {
        opacity: 0;
    }

    .search-appear {
        opacity: 1;
    }

    header .nav__mobile .search__input {
        width: 100%;
        height: 70px;
        outline: none;
        border: none;
        padding-left: 30px;
        box-shadow: 0px 2px 5px rgba(20, 20, 20, 0.2);
        position: absolute;
        top: 60px;
        z-index: 2;
        font-size: 1rem;
        transition: opacity 0.2s ease-in-out;
    }

     /* mobile nav list */
    .subnav-hidden {
        transform: translateX(-100%);
    }

    .subnav-appear {
        transform: translateX(0);
    }

    .cover-hidden {
        display: none;
    }

    .cover-appear {
        display: block;
    }

    header .nav__mobile .nav__mobile--list {
        width: 300px;
        height: 100vh;
        background-color: var(--color-1);
        z-index: 3;
        position: absolute;
        top: 0;
        overflow-y: scroll;
        transition: transform 0.3s ease-in-out;
    }

    header .nav__mobile .nav__mobile--cover {
        width: 100%;
        height: 100vh;
        background-color: rgba(20, 20, 20, 0.5);
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    header .nav__mobile .nav__mobile--list > ul > li {
        line-height: 56px;
        border-bottom: 1px solid rgba(51, 62, 72, 0.2);
        display: flex;
        flex-direction: column;
        position: relative;
    }

    header .nav__mobile .nav__mobile--list > ul > li > a {
        text-decoration: none;
        color: var(--color-3);
        padding: 0 30px;
    }

    header .nav__mobile .nav__mobile--list ul > li .fas {
        font-size: 1rem;
        position: absolute;
        right: 30px;
    }

    header .nav__mobile .nav__mobile--list ul > li .nav__mobile--subnav {
        background-color: var(--color-2);
        width: 100%;
    }

    header .nav__mobile .nav__mobile--list ul > li .nav__mobile--subnav li {
        line-height: 46px;
        padding-left: 30px;
        border-bottom: 1px solid rgba(51, 62, 72, 0.2);
    }

    header .nav__mobile .nav__mobile--list .nav__mobile--subnav .camera {
        text-decoration: none;
    }

    header .nav__mobile .nav__mobile--list ul > li .nav__mobile--subnav li:first-child {
        font-weight: bold;
        color: var(--color-3);
    }

    header .nav__mobile .nav__mobile--list ul > li .nav__mobile--subnav li a {
        text-decoration: none;
        color: var(--color-3);
    }

    /* promotion */
    header .promotion {
        width: 100%;
        height: 570px;
    }

    header .promotion .promotion__master {
        width: 100%;
        height: 570px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    header .promotion .promotion__title {
        width: 100%;
        height: 150px;
        margin: 0;
        padding: 0;
        padding-left: 25px;
        justify-content: flex-start;
    }

    header .promotion .promotion__title> p:first-child {
        font-size: 2rem;
    }

    header .promotion .promotion__title> p:nth-child(2) {
        font-size: 3rem;
        margin-top: -1px;
    }

    header .promotion .promotion__title> p:nth-child(3) {
        font-size: 1rem;
        font-weight: bold;
        margin-top: 5px;
        font-weight: normal;
    }

    header .promotion .promotion__product--picture {
        width: 76%;
        /* height: 220px; */
        height: 36%;
        margin: 0;
        margin-left: 12%;
        background-image: url(../../assets/images/products/banner/promotion-banner-airpods.png);
        background-size: cover;
    }

    header .promotion .promotion__product--description {
        width: 100%;
        height: 150px;
        padding: 0;
        margin-top: 5px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    header .promotion .promotion__product--description p:nth-child(1) {
        margin: 0;
    }

    header .promotion .promotion__product--description p:nth-child(2) {
        margin: 15px 0;
    }

    header .promotion .promotion__product--description a {
        display: inline-block;
        width: 170px;
        line-height: 25px;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        color: var(--color-3);
        text-decoration: none;
        padding: 5px 10px;
        border: 2px solid var(--color-3);
        border-radius: 10px;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    }

    /* header carousel */
    header .header__carousel .owl-carousel {
        width: 100%;
        height: 110px;
        margin: 0 auto;
        position: relative;
    }

    header .header__carousel .owl-theme .owl-nav button {
        display: none;
    }

    /* section top banner */
    section .section__topBanner {
        width: 100%;
        height: 490px;
        padding: 20px 10px;
        margin: 0;
        color: var(--color-3);
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }

    section .section__topBanner > div {
        border-radius: 10px;
        display: flex;
    }

    section .section__topBanner .topBanner--1 {
        width: 100%;
        height: 150px;
        position: relative;
        background-image: linear-gradient(0deg, rgba(194, 194, 194, 0.3), rgba(136, 136, 136, 0.3));
    }

    section .section__topBanner .topBanner--1 .topBanner--1--image {
        width: 40%;
        height: 103px;
        background-image: url(../../assets/images/products/banner/section-banner-top-1-1.png);
        background-size: cover;
        position: absolute;
        top: 25px;
        left: 10px;
    }

    section .section__topBanner .topBanner--1 .topBanner--1--description {
        width: 51%;
        height: 150px;
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    section .section__topBanner .topBanner--1 .topBanner--1--description p:first-child {
        font-size: 1rem;
        line-height: 21px;
        margin-bottom: 15px;
    }

    section .section__topBanner .topBanner--2 {
        width: 100%;
        height: 150px;
        background-color: rgba(194, 194, 194, 0.3);
        position: relative;
        margin: 10px 0;
    }

    section .section__topBanner .topBanner--2--image {
        width: 160px;
        height: 95px;
    }

    section .section__topBanner .topBanner--3 {
        width: 100%;
        height: 150px;
        background-image: linear-gradient(180deg, rgba(194, 194, 194, 0.3), rgba(136, 136, 136, 0.3));
    }

    section .section__topBanner .topBanner--3--image {
        width: 160px;
        height: 100px;
        margin-top: 25px;
    }

    section .section__topBanner .topBanner--description {
        width: 160px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        right: 0;
    }

    section .section__topBanner .topBanner--description p:first-child {
        font-size: 1rem;
        line-height: 21px;
        margin-bottom: 15px;
    }

    section .section__topBanner .fas {
        width: 30px;
        height: 30px;
        background-color: var(--color-4);
        border-radius: 50%;
        padding-left: 8px;
        padding-top: 8px;
        margin-left: 10px;
    }

    /* sectino deals of the day - title */
    section .section__dealOfTheDay {
        width: 100%;
        padding: 0 10px;
    }

    section .title {
        width: 100%;
        height: 74px;
        flex-direction: column;
        justify-content: flex-start;
    }

    section .title .title-highlight {
        height: 3px;
        width: 50%;
        background-color: var(--color-4);
        position: absolute;
        top: 72px;
        left: 25%;
    }
    
    section .title p {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }

    section .title .fas {
        margin-left: 10px;
    }

    /* section deals of the day block */
    section .item > p:nth-child(1) {
        font-size: 0.7rem;
        color: var(--color-3);
        padding-left: 15px;
    }

    section .item .cart {
        padding: 0;
    }

    section .item .cart > div .salePrice {
        font-size: 1.3rem;
    }

    section .item .wishlist-compare {
        display: none;
    }

    /* section popular search */
    section .section__popularSearch {
        width: 100%;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
    }
    
    section .section__popularSearch .section__popularSearch--block {
        width: 100%;
        padding: 0 20px;
        margin-bottom: 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    section .section__popularSearch .section__popularSearch--block > a {
        padding: 0;
        margin: 0;
        margin: 0 3%;
        margin-bottom: 20px;
        width: 44%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* section laptops & pcs */
    section .section__laptoppc {
        width: 100%;
        padding: 0 10px;
    }

    /* section mobiles & tablets */
    section .section__mobilestablets {
        width: 100%;
        padding: 0 10px;
    }

    /* section highlight promotion */
    section .section__highlightPromotion {
        height: 150px;
    }

    section .section__highlightPromotion > div {
        width: 100%;
        height: 100%;
        padding: 0 20px;
        justify-content: space-between;
    }

    section .section__highlightPromotion > div p {
        line-height: 27px;
        margin: 0;
        margin-bottom: 10px;
        margin-top: 8px;
        display: inline-block;
        width: 75%;
    }

    section .section__highlightPromotion > div .qrcode {
        width: 70px;
        height: 70px;
        background-image: url(../../assets/images/products/banner/qr-code.png);
        background-size: cover;
    }

    /* section display & audio */
    section .section__displayaudio {
        width: 100%;
        height: 400px;
        padding: 0 10px;
    }

    /* section accessories */
    section .section__accessories {
        width: 100%;
        height: 400px;
        padding: 0 10px;
        margin-top: 40px;
    }

    section .section__accessories .title {
        margin-top: 50px;
    }

    /* second second banners */
    section .section__secondBanner {
        width: 100%;
        height: 450px;
        margin: 40px auto 0;
        padding: 0 10px;
        flex-direction: column;
    }

    section .section__secondBanner .secondBanner {
        height: 200px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }

    section .section__secondBanner .secondBanner:first-child {
        margin-bottom: 10px;
        margin-top: 40px;
        background-image: linear-gradient(45deg, rgba(254, 215, 0, 0.9), rgba(254, 215, 0, 0.7))
    }

    section .section__secondBanner .secondBanner:last-child {
        background-image: linear-gradient(-135deg, rgba(254, 215, 0, 0.9), rgba(254, 215, 0, 0.7))
    }

    section .section__secondBanner .secondBanner-1--title p:first-child {
        font-size: 1.2rem;
        color: var(--color-5);
        text-align: center;
    }
    
    section .section__secondBanner .secondBanner-1--title p:last-child {
        font-size: 1rem;
        margin-bottom: 7px;
        text-align: center;
    }

    section .section__secondBanner .secondBanner-2--title p:first-child {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 7px;
        color: var(--color-5);
        text-align: right;
    }
    
    section .section__secondBanner .secondBanner-2--title p:last-child {
        font-size: 1rem;
        text-align: right;
    }

    section .section__secondBanner .secondBanner-2--title > div:first-child {
        padding: 5px 20px 5px 0;
        border-right: 2px solid rgba(51, 62, 72, 0.1);
        margin-bottom: 15px;
    }

    section .section__secondBanner .secondBanner> div:first-child {
        margin-bottom: 5px;
    }

    section .section__secondBanner .img {
        width: 65%;
    }

    /* section others */
    section .section__others {
        width: 100%;
        height: 400px;
        padding: 0 10px;
    }

    /* section partners */
    section .section__partners {
        width: 100%;
        height: 300px;
        margin: 0;
        margin: 40px 0;
        padding: 0;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    section .section__partners .item {
        width: 45%;
        height: 50px;
        margin: 0 5px;
    }

    /* section products summary */
    section .section__summary {
        display: none;
    }

    /* section signup form */
    section .section__signupForm {
        display: none;
    }

    /* footer */
    footer .footer__desktop--1,
    footer .footer__desktop--2 {
        display: none;
    }

    footer {
        height: 200px;
        margin: 0;
        padding: 0;
    }

    footer .footer__mobile--1 {
        height: 40px;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    footer .footer__mobile--1 .fab {
        font-size: 1.5rem;
    }

    footer .footer__mobile--1 .fa-facebook,
    footer .footer__mobile--1 .fa-linkedin {
        color: var(--color-5);
    }

    footer .footer__mobile--1 .fa-pinterest,
    footer .footer__mobile--1 .fa-youtube {
        color: var(--color-6);
    }

    footer .footer__mobile--1 .fa-viber {
        color: rgb(79, 206, 93);
    }

    footer .footer__mobile--1 .fa-instagram {
        color: rgb(242, 94, 7);
    }

    footer .footer__mobile--2 {
        width: 100%;
        height: 180px;
        background-color: var(--color-3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer .footer__mobile--2 .logo {
        width: 160px;
        height: 60px;
        background-image: url(../../assets/images/brandings/liberty_logo_457x172-white.png);
        background-size: cover;
    }

    footer .footer__mobile--2 p {
        color: var(--color-1);
        font-size: 1rem;
    }

    footer .footer__mobile--2 p:nth-child(2) {
        margin: 15px 0;
    }

    footer .footer__mobile--2 p:nth-child(3) {
        font-size: 1.1rem;
        font-weight: bold;
    }
}

/* tablet responsive */
@media all and (min-width: 740px) and (max-width: 1024px) {

}